@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
*{
  font-family: 'Inter', sans-serif;
}

#profile__img{
  border-radius: 275px;
  width: 88px;
  height: 88px;
}
.dp h1{
  color: #101828;
  font-weight: 700;
  margin-top: 24px;
 
}

.btn-twitter{
  padding: 24px 114px;
}
#twitter{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  color: #101828;
  font-size: 18px;
  line-height: 28px;
}
#btn__zuri{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  color: #101828;
  font-size: 18px;
  line-height: 28px;
  margin: 12px 0px;
}
#books{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  color: #101828;
  font-size: 18px;
  margin: 12px 0px;
  line-height: 28px;
}
#book__python{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  color: #101828;
  font-size: 18px;
  margin: 12px 0px;
  line-height: 28px;
}
#pitch{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  color: #101828;
  font-size: 18px;
  margin: 12px 0px;
  line-height: 28px;
}
#book__design{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  color: #101828;
  font-size: 18px;
  margin: 12px 0px;
  line-height: 28px;
}
.links-section{
  padding: 12px 114px;
}
#slack{
  display: none;
}

