@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
*{
  font-family: 'Inter', sans-serif;
}

.profile h1{
  text-align: center;
  color: #101828;
  font-weight: 700;
  margin-top: 24px;
}
#profile__img{
  border-radius: 275px;
  width: 88px;
  height: 88px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-twitter{
  padding: 24px 144px;
}
.profile{
  padding: 24px 144px;
}
#twitter{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  color: #101828;
  font-size: 18px;
  line-height: 28px;
}
#btn__zuri{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  color: #101828;
  height: 76px;
  font-size: 18px;
  line-height: 28px;
  margin: 12px 0px;
}
#btn__zuri{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  color: #101828;
  height: 76px;
  font-size: 18px;
  line-height: 28px;
  margin: 12px 0px;
}
#books{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  height: 76px;
  color: #101828;
  font-size: 18px;
  margin: 12px 0px;
  line-height: 28px;
}
#contact{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  height: 76px;
  color: #101828;
  font-size: 18px;
  margin: 12px 0px;
  line-height: 28px;
}
#book__python{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  color: #101828;
  height: 76px;
  font-size: 18px;
  margin: 12px 0px;
  line-height: 28px;
}
#pitch{
  padding:  24px 32px 24px 32px;
  width: 100%;
  height: 76px;
  font-weight: 500;
  color: #101828;
  font-size: 18px;
  margin: 12px 0px;
  line-height: 28px;
}
#book__design{
  padding:  24px 32px 24px 32px;
  width: 100%;
  font-weight: 500;
  height: 76px;
  color: #101828;
  font-size: 18px;
  margin: 12px 0px;
  line-height: 28px;
}
#social_section{
  padding:  24px 32px 24px 32px;
  width: 100%;
  height: 72px;
  font-weight: 500;
  color: #101828;
  font-size: 18px;
  margin: 12px 0px;
  line-height: 28px;
  border: none;
  background-color: white;
}
#social_section img{
  margin: 0px 12px;
}
.links-section{
  padding: 12px 144px;
}
.social-section{
  margin: 0px 112px;
}
label{
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
}
.details-name{
  display: flex;
  width: 100%;
justify-content:space-between;

}
#first_name, #last_name{
  height: 44px;
  border-radius: 8px;
  margin-bottom: 24px;
  width: 100%;
  box-sizing: border-box;
  border: grey 1px solid;
  padding: 12px 14px;
}

.footer{

  padding: 48px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactus{
  margin: 24px 360px;
  /* width: 100%; */
}
.contactus h1{
font-weight: 600 ;
font-size: 36px;
line-height: 44px;
}
.contactus p{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  }
.footercontainer{
  margin-top: 64px ;

}
.name .share{
  float:right;
  position: relative;
  top: -170px;
  right: 20%;
}
.name .share2{
  display: none;;
 }
#slack{
  display: none;
}
#email{
  border-radius: 8px;
  height: 44px;
  margin-bottom: 24px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 14px;
  border: grey 1px solid;
}
#message{
  border-radius: 8px;
  padding: 12px 14px;
  width: 100%;
  box-sizing: border-box;
  height: 132px;  
  border: grey 1px solid;
}
.submit{
  margin-top: 32px;
}
#btn__submit{
  width: 100%;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: white;
  background-color: #1570EF;
  border-radius: 8px;
  border: #1570EF 1px solid;
}
.chk{
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 700px) {
  .footer{
    display: block;
  }
  .links-section{
    padding: 12px 18px;
  }
  .footer{
    padding: 12px 18px;
  }
  .btn-twitter {
    padding: 12px 18px;
 }
 .name .share2{
  display: block;
  float:right;
  position: relative;
  top: -170px;
  right: 20%;
 }
 .name .share{
 display: none;;
 }
 .profile{
  padding: 12px 18px;
}
#first_name, #last_name{
  width: 100%;
}
.contactus{
  margin: 64px 16px;
}
.details-name{
  display: block;
}
}
